<div id="email-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">Email Request!</h6>
            </div>
            <div class="modal-body">
                <div class="wrapper">
                    <span class="no-email">
                        Sooner or later you will have to provide your email for various reasons. Why not now ?
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label  col-sm-3" for="add-email">Email</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="add-email" type="email">
                                </div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="email-btn btn btn-default btn-sm">Save</button>
                            </div>
                        </div>
                    </span>
                    <span class="no-confirm">
                        Last step - An email has been sent to your mail. Please check your email and confirm and reopen Linkcast.<br/>
                        <a href="#" id="change-email">Change Email</a>
                    </span>

                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>