<div id="invite-modal" class="modal fade" tabindex="-1" role="dialog" data-gid="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">Users</h6>
            </div>
            <div class="modal-body user-enabled">
                <div class="row">
                    <div class="col-xs-6">
                        <h6># Send Invites</h6>
                        <input type="text" id="tags-input-send-invites" class="form-control" />
                    </div>
                    <div class="col-xs-6">
                        <h6># Edit Pending Invites</h6>
                        <div id="sent-invites">

                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <div class="modal-footer">
                <button type="button" id="send-invites" class="btn btn-default btn-sm">Send Invites</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>