<div id="profile-modal" class="modal fade modal-full" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title"></h6>
            </div>
            <div class="modal-body row">
                <div class="col-sm-3">
                    <div class="user-groups-list">
                        <h5 class="group-title">Groups</h5>
                        <div class="groups-wrapper"></div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="scroll" style="height: 374px">
                        <div class="items"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>