/**
 * Custom theme for Linkcast
 * @author Abhishek Saha
 **/

:root {
    --primary_color: #272b30;
    --secondary_color: #c8c8c8;
    --link-color: #00a5ff;
    --link-hover-color: #00a5ff;
    --light-dark: #555;
    --table-font-color: #999;
    --panel_color: #2e3338;
    --panel_footer: #3e444c;
    --comments_background: #202427;
    --tab_hover_color: #222;
    --border: rgba(0, 0, 0, 0.6);
    --section-background: #1c1e22;
}

body {
    color: var(--secondary_color);
    background-color: var(--primary_color);
}

.form-control,
.form-control:focus {
    background: var(--primary_color);
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: none;
    color: var(--secondary_color);
}

.notification-item {
    background: var(--primary_color);
}


/**                                                 **
 * --------------------BUTTONS---------------------- *
 *-------------------------------------------------- */

.btn {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient( linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn {
    color: #fff;
    background-color: #3a3f44;
    border-color: #3a3f44;
}

.btn:hover {
    background-image: -webkit-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -o-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -webkit-gradient( linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#141618));
    background-image: linear-gradient(#020202, #101112 40%, #141618);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff020202', endColorstr='#ff141618', GradientType=0);
    -webkit-filter: none;
    filter: none;
    color: #fff;
    background-color: #232628;
    border-color: #1e2023;
}


/**                                                 **
 * --------------------LINKS----------------------- *
 *-------------------------------------------------- */

a,
a:focus,
a:active {
    color: var(--link-color);
    transition: color 0.3s linear;
}

a:hover {
    color: var(--link-color);
}


/**                                                 **
 * --------------------PANELS----------------------- *
 *-------------------------------------------------- */

.panel {
    background-color: var(--panel_color);
    border: 1px solid var(--border);
}

.panel-footer {
    background-color: var(--panel_footer);
    border-top: 1px solid var(--border);
}


/**                                                 **
 * --------------------NAVTABS---------------------- *
 *-------------------------------------------------- */

.nav-tabs>li>a {
    transition: all 0.3s linear;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: var(--secondary_color);
    background-color: var(--panel_color);
    border: 1px solid var(--border);
    border-bottom-color: transparent;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    background-color: initial;
    border-color: var(--border);
    border-bottom-color: transparent;
    background-color: var(--tab_hover_color);
}


/**                                                 **
 * --------------------SCROLLBAR-------------------- *
 *-------------------------------------------------- */

::-webkit-scrollbar-track {
    background-color: var(--primary_color);
}

::-webkit-scrollbar {
    background-color: var(--secondary_color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary_color);
}

.comments-section {
    background: var(--comments_background);
}


/**                                                 **
 * --------------------TABLE----------------------- *
 *-------------------------------------------------- */

.table td,
.table th,
.table thead th {
    border-color: hsla(0, 0%, 100%, .06);
}

.table td,
.table th,
.table thead th {
    border-color: rgba(0, 0, 0, .54);
}

.table {
    color: var(--table-font-color);
    background-color: var(--primary_color);
}

.table>thead>tr>th {
    border-bottom: 1px solid var(--border);
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 1rem 0.8rem;
    vertical-align: top;
    border-top: 1px solid var(--border);
}

.table-hover>tbody>tr:hover {
    background-color: transparent;
}


/**                                                 **
 * --------------------MANAGE GROUPS---------------- *
 *-------------------------------------------------- */

.well {
    background-color: var(--section-background);
    border: 1px solid var(--border);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.modal-backdrop {
    background-color: #939393;
}

.modal-content {
    background: #1d1d1d;
}