<ul class="nav nav-tabs main-nav">
    <li class="active"><a href="#tab-notifications" data-toggle="tab">Notifications</a><span class="short-border" /></li>
    <li class="authorized"><a href="#tab-feed" data-toggle="tab">Feed</a><span class="short-border" /></li>
    <li class="authorized"><a href="#tab-post" data-toggle="tab">Post</a><span class="short-border" /></li>
    <li class="authorized"><a href="#tab-links" data-toggle="tab">Links</a><span class="short-border" /></li>
    <li class="authorized"><a href="#tab-groups" data-toggle="tab">Groups</a><span class="short-border" /></li>
    <li><a href="#tab-settings" data-toggle="tab">Settings</a><span class="short-border" /></li>
</ul>