<!doctype html>
<html class="popup">

<head>
    <title>LinkCast</title>
    <link rel="stylesheet" href="public/css/bootstrap.css" type="text/css"></link>
    <link rel="stylesheet" href="public/css/font-awesome.min.css">
    <link href="public/css/style.css" rel="stylesheet" type="text/css"></link>
    <link href="public/css/themes/dark.css" id="themes" rel="stylesheet" type="text/css"></link>
</head>

<body>
    <div class="container">

        <ul class="nav nav-tabs main-nav">
            <li class="active"><a href="#tab-notifications" data-toggle="tab">Notifications</a><span class="short-border" /></li>
            <li class="authorized"><a href="#tab-feed" data-toggle="tab">Feed</a><span class="short-border" /></li>
            <li class="authorized"><a href="#tab-post" data-toggle="tab">Post</a><span class="short-border" /></li>
            <li class="authorized"><a href="#tab-links" data-toggle="tab">Links</a><span class="short-border" /></li>
            <li class="authorized"><a href="#tab-groups" data-toggle="tab">Groups</a><span class="short-border" /></li>
            <li><a href="#tab-settings" data-toggle="tab">Settings</a><span class="short-border" /></li>
        </ul>

        <div class="tab-content main-content-area">

            <!--include view/templates/notification.html  -->

            <!--include view/feed.html  -->

            <!--include view/post.html  -->

            <div class="tab-pane fade" id="tab-links">
                <ul class="nav nav-pills nav nav-pills secondary-nav">
                    <li class="active"><a href="#tab-favourites" class="active pill-item" data-toggle="pill">Favourites</a></li>
                    <li><a href="#tab-sent" class="pill-item" data-toggle="pill">Sent</a></li>
                    <!-- <li><a href="#tab-received" class="pill-item" data-toggle="pill">Received</a></li> -->
                </ul>
                <div class="tab-content inner-tab-content">
                    <div class="tab-pane active" id="tab-favourites">
                        <div class="scroll">
                            <div class="items  user-enabled"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-sent">
                        <div class="scroll">
                            <div class="items"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab-groups">
                <ul class="nav nav-pills nav nav-pills secondary-nav">
                    <li class="active"><a href="#tab-public-groups" class="pill-item" data-toggle="pill">Public</a></li>
                    <li><a href="#tab-private-groups" class="pill-item" data-toggle="pill">Private</a></li>
                    <li><a href="#tab-create-groups" class="pill-item" data-toggle="pill">Create</a></li>
                    <li><a href="#tab-manage-groups" class="pill-item" data-toggle="pill">Manage</a></li>
                </ul>
                <div class="tab-content inner-tab-content">
                    <!--include 'groups/public.html' -->
                    <!--include 'groups/private.html' -->
                    <!--include 'groups/create.html' -->
                    <!--include 'groups/manage.html' -->
                </div>
            </div>

            <div class="tab-pane fade" id="tab-settings">
                <ul class="nav nav-pills nav nav-pills secondary-nav">
                    <li class="active"><a href="#tab-profile" class="pill-item" data-toggle="pill">Profile</a></li>
                    <li><a href="#tab-customize" class="pill-item" data-toggle="pill">Customize</a></li>
                    <li><a href="#tab-about" class="pill-item" data-toggle="pill">About</a></li>
                </ul>
                <div class="tab-content inner-tab-content">
                    <!--include 'settings/profile.html' -->
                    <!--include 'settings/customize.html' -->
                    <!--include 'settings/about.html' -->
                </div>
            </div>


        </div>

        <div id="msg" class="hide"></div>

    </div>
    <!--include view/modals/item.html  -->

    <!--include view/modals/users.html  -->

    <!--include view/modals/profile.html  -->

    <!--include view/templates/item.html  -->

    <!--include view/templates/user.html  -->

    <!--include view/templates/comment.html  -->

    <div class="scroll tab-pane fade active in" id="tab-notifications">
        <div class="items user-enabled">
            <div id="loader" class="preloader"><img src="public/images/loader.svg"></div>
        </div>
    </div>

    <script src="env.js"></script>
    <!-- replace:[js] -->
    <script async src="http://localhost:3000/build/popup.js"></script>
    <!-- endreplace -->
</body>

</html>