<!doctype html>
<html class="popup">

<head>
    <title>LinkCast</title>
    <link rel="stylesheet" href="public/css/bootstrap.css" type="text/css"></link>
    <link rel="stylesheet" href="public/css/font-awesome.min.css">
    <link href="public/css/style.css" rel="stylesheet" type="text/css"></link>
    <link href="public/css/themes/dark.css" id="themes" rel="stylesheet" type="text/css"></link>
</head>

<body>
    <div class="container">

        <!-- view/navigation.html  -->

        <div class="tab-content main-content-area">

            <!-- view/notification.html  -->

            <!-- view/feed.html  -->

            <!-- view/post.html  -->

            <!-- view/links.html  -->

            <!-- view/groups.html  -->

            <!-- view/settings.html  -->


        </div>

        <!-- view/system-messages.html  -->

    </div>
    <!--include view/modals/item.html  -->

    <!-- view/modals/users.html  -->

    <!-- view/modals/profile.html  -->


    <!-- view/templates/item.html  -->

    <!-- view/templates/user.html  -->

    <!-- view/templates/comment.html  -->

    <!-- view/templates/notification.html  -->

    <script src="env.js"></script>
    <!-- replace:[js] -->
    <script async src="http://localhost:3000/build/popup.js"></script>
    <!-- endreplace -->
</body>

</html>