<div class="tab-pane" id="tab-manage-groups">
    <p>You can manage the groups for which are you are the admin.</p>

    <div class="row">
        <div class="col-sm-6 form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3">Groups:</label>
                <div class="col-sm-9">
                    <select id="groups-dd" class="form-control"></select>
                </div>
            </div>
            <div class="editgroup-block">
                <div id="editgroup-wrapper"></div>
                <div class="col-xs-offset-3 col-xs-9">
                    <button data-action="edit" type="submit" id="edit-group-save-btn" class="btn btn-default btn-sm">Save</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 form-group scroll" id="group-users-block">
            <label>Group Users:</label>
            <table class="table table-hover" id="group-users-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Access</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>