<div class="tab-pane" id="tab-private-groups">
    <p>Join a private group if you know the group name and the password</p>
    <div class=" pt20 form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="inputGroup">Group name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputGroup">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="grpPwd">Group password</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="grpPwd">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" id="join-group" class="btn btn-default btn-sm">Join<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
</div>