<div class="tab-pane active" id="tab-public-groups">
    <p>These are the public group. You can join and start posting links if you have the permission.</p>
    <div class="scroll">
        <table style="margin-bottom:0px;" class="table table-hover">
            <thead>
                <tr>
                    <th width="120">Name</th>
                    <th>Description</th>
                    <th>Access</th>
                    <th>Users</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="items">
            </tbody>
        </table>
    </div>
</div>