<div class="tab-pane active" id="tab-profile">
    <div class="authorized">
        <div class="status"></div>
        <div id="edit-profile">
            <form class="form-horizontal">
                <div class="form-group" style="line-height: 44px;">
                    <label class="control-label col-sm-3" for="profile-color">Profile Color</label>
                    <div class="col-sm-9">
                        <input id="profile-color" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="new-nickname">Nickname</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="new-nickname" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="bio">Short Bio</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="bio" type="text">
                    </div>
                </div>
                <div class="col-xs-offset-3">
                    <button type="submit" style="margin-left: 14px;" class="profile-btn btn btn-default btn-sm">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="step step1">
        <p>Login/Register</p>
        <br/>
        <div class="form-group label-floating">
            <label class="control-label" for="nickname">Enter a nickname</label>
            <input class="form-control" id="nickname" type="text">
        </div>
        <div class="form-group label-floating">
            <label class="control-label" for="password">Enter a password</label>
            <input class="form-control" id="password" type="password">
        </div>
        <div class="form-group">
            <button type="submit" class="register-btn btn btn-default btn-sm">Register</button>
            <button type="submit" class="login-btn btn btn-default btn-sm">Login</button>
        </div>
    </div>
</div>