<div class="tab-pane active" id="tab-profile">
    <div class="authorized">
        <div class="status"></div>
        <div id="edit-profile">
            <form class="form-horizontal">
                <div class="form-group" style="line-height: 44px;">
                    <label class="control-label col-sm-3" for="profile-color">Profile Color</label>
                    <div class="col-sm-9">
                        <input id="profile-color" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="new-nickname">Nickname</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="new-nickname" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="bio">Short Bio</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="bio" type="text">
                    </div>
                </div>
                <div class="col-xs-offset-3">
                    <button type="submit" style="margin-left: 14px;" class="profile-btn btn btn-default btn-sm">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="step step1 form-horizontal">
        <form type="submit" id="landing-login">
            <div class="col-xs-6">
                <p>Login</p>
                <br/>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="nickname">Nickname</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="nickname" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label  col-sm-3" for="password">Password</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="password" type="password">
                    </div>
                </div>
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit" class="login-btn btn btn-default btn-sm">Login</button>
                </div>
            </div>
        </form>
        <div class="col-xs-6">
            <form type="submit" id=" landing-registration ">
                <p>Register</p>
                <br/>
                <div class="form-group ">
                    <label class="control-label col-sm-3 " for="r-email ">Email</label>
                    <div class="col-sm-9 ">
                        <input class="form-control " id="r-email " type="email ">
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-3 " for="r-nickname ">Nickname</label>
                    <div class="col-sm-9 ">
                        <input class="form-control " id="r-nickname " type="text ">
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-3 " for="r-password ">Password</label>
                    <div class="col-sm-9 ">
                        <input class="form-control " id="r-password " type="password ">
                    </div>
                </div>
                <div class="col-sm-9 col-sm-offset-3 ">
                    <button type="submit " class="register-btn btn btn-default btn-sm ">Register</button>
                </div>
        </div>
        </form>
    </div>
</div>