<div class="hide" id="notification-wrapper">
    <div class="notification-item clearfix" data-id="{ITEM_ID}">
        <div>
            {ITEM}
        </div>

    </div>
</div>

<!-- notification item templates -->
<div class="hide" id="link">
    <a href='' class='link' data-id='{ITEM_ID}'>
        <div>
            <span>{ACTORS}</span>
            <span class="activity">
                posted a link
                <span class="link strong">"{TITLE}"</span>
            <span class="group">
                    in <i class="fa fa-users" aria-hidden="true"></i> {GROUP_NAME}
                </span>
            </span>
        </div>
        <div class="item-meta">
            <i class="fa fa-link" aria-hidden="true"></i>
            <span class="comment-date grey">{CREATED_AT}</span>
        </div>
    </a>
</div>

<div class="hide" id="comment">
    <a href='' class='link' data-id='{ITEM_ID}'>
        <div>
            <span>{ACTORS}</span>
            <span class="activity">
                commented on <span class="strong">{POSTER}'s</span> link
            <span style="font-weight: bold; color: #CECECE" class="comment">"{COMMENT}"</span>
            <span class="group">
                    in <i class="fa fa-users" aria-hidden="true"></i> {GROUP_NAME}
                </span>
            </span>
        </div>
        <div class="item-meta">
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span class="comment-date grey">{CREATED_AT}</span>
        </div>
    </a>
</div>

<div class="hide" id="like">
    <a href='' class='link' data-id='{ITEM_ID}'>
        <div>
            <span>{ACTORS}</span>
            <span class="activity">
                liked <span class="strong">{POSTER}'s</span> link
            <span style="font-weight: bold; color: #CECECE" class="link">"{TITLE}"</span>
            <span class="group">
                    in <i class="fa fa-users" aria-hidden="true"></i> {GROUP_NAME}
                </span>
            </span>
        </div>
        <div class="item-meta">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <span class="comment-date grey">{CREATED_AT}</span>
        </div>
    </a>
</div>

<div class="hide" id="joined_group">
    <div>
        <span>{ACTORS}</span>
        <span class="activity">
        joined 
        <span class="group">
            <i class="fa fa-users" aria-hidden="true"></i> {GROUP_NAME}
        </span>
    </div>
    <div class="item-meta">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <span class="comment-date grey">{CREATED_AT}</span>
    </div>
</div>

<div class="hide" id="joined_linkcast">
    <div>
        <span>{ACTORS}</span>
        <span class="activity">
                joined <span style="color:#c53333; font-weight: bold"> LinkCast</span>

    </div>
    <div class="item-meta">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="comment-date grey">{CREATED_AT}</span>
    </div>

</div>

<div class="hide" id="new_group">
    <div class="group_row" data-gid="{GID}">
        <span>{ACTORS}</span>
        <span class="activity">
            created a new group <span style="color:#c53333; font-weight: bold"> {GROUP_NAME}.</span>
        <a href="#" class="group-join green {HIDEJOIN}"> Join Now</a>
        </span>
    </div>
    <div class="item-meta">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="comment-date grey">{CREATED_AT}</span>
    </div>
</div>

<div class="hide" id="group_invite">
    <div class="group_row" data-aid="{ID}" data-gid="{GID}">
        <span class="strong">{ADMIN}</span>
        <span class="activity">
                invited you to join <span style="font-weight: bold"> {GROUP_NAME}.</span>
        <a href="#" class="group-accept green {GROUPINVITE}"> Accept</a> |
        <a href="#" class="group-reject red {GROUPINVITE}"> Reject</a>
        </span>
    </div>
    <div class="item-meta">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="comment-date grey">{CREATED_AT}</span>
    </div>
</div>

<div class="hide" id="linkcast">
    <div class="announcement">
        <div class="linkcast-msg" style="color:{LCOLOR}">
            {ACTORS} - {TITLE}
        </div>
        <div class="item-meta">
            <i class="fa fa-bullhorn blink_me" aria-hidden="true"></i>
            <span class="comment-date grey">{CREATED_AT}</span>
        </div>
    </div>
</div>