<table class="hide" id="users-template">
    <tr class="user-item" data-id="{USER_ID}">
        <td>{NICKNAME}</td>
        <td>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default btn-xs {can_post}">
                    <input class="radio" type="radio" value="can_post" name="group_rights{i}">Can Post
                </label>
                <label class="btn btn-xs btn-default {can_read}">
                    <input class="radio" type="radio" value="can_read" name="group_rights{i}">Can Read
                </label>
            </div>
        </td>
        <td><a href="#" class="remove-user">{REMOVE}</a></td>
    </tr>
</table>